{% extends 'core/base.html' %}
{% load static %}

{% block navigation %}
  <li class="nav-item">
    <a class="nav-link text-white" aria-current="page" href="{% url 'main' %}">На главную</a>
  </li>

{% endblock %}

{% block content %}
  <div class="d-flex flex-column">
    <div class="row row-cols-auto g-4" align="center">
    {% for country in countries %}
      <div class="col">
        <div class="card h-100" style="width: 18rem;">
          <img src="{{country.image.url}}" class="card-img-top" alt="{{ country.name }}">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ country.name }}</h5>
            <p class="card-text">Описание страны {{ country.name }}</p>
            <div class="card-text d-flex flex-column mt-auto">
              <a href="{% url 'cities' country.name  %}" class="mt-auto btn btn-primary">Перейти</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}