{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="main" content="width=device-width, initial-scale=1.0">
    <title>Traveler</title>
    <link rel="shorcut icon" href="{% static 'core/img/32х32_airplane.png' %}" type="image/x-icon">
    
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/fontello.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
</head>
<body>
   <header>
        <div class="navigation">
            <div class="logo"></div>
            <div class="menu">
                <ul class="nav">
                    <li><a class="link" href="{% url 'intrance'%}">Вход</a></li>
                    <li><a class="link" href="{% url 'registration'%}">Регистрация</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center text-white">«Путешествия - это единственная вещь на свете, покупая которую, становишься богаче»</h1>
                    <a href="buy_ticket/" class="btn btn-itd btn-lg text-uppercase">Купить билет</a>
                </div>
            </div>
        </div>
    </header>


    <div class="description">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p style="text-indent: 25px;">
                    <p style="text-align: center; font-size: 20px;"><strong>Как начать путешествовать? Где взять мотивацию для самостоятельной поездки?</strong></p>
                    <p style="text-align: justify;">Сейчас мы откроем вам простую и поэтому такую страшную тайну... Есть один секрет и только один.Чтобы начать путешествовать - надо хотеть путешествовать.<br />
                    Но это "хотение"-желание не придёт внезапно, не осенит вас как гром среди ясного неба, не упадёт на голову как яблоко Ньютона.</p>
                    <p style="text-align: justify;">«Путь в тысячу миль начинается с первого шага».  Сколько раз вы замечали за собой, что тянете время, оттягиваете момент, вместо того, чтобы приступить к какому бы то ни было занятию? Например, когда нужно сделать звонок или обсудить важный вопрос с руководством.<br />
                    Наконец, вы приступаете к делу: снимаете телефонную трубку или стучите в дверь кабинета, а потом оказывается, что всё было совсем не так трудно, как вы это себе представляли. Вот в чём дело: как только вы запускаете начальный процесс, становится легко или хотя бы немного легче. Вы начинаете действовать - появляется мотивация. Не наоборот.</p>
                    <p style="text-align: justify;">Как начать путешествовать? Надо начать <strong>планировать</strong> путешествие: разработать маршрут, посмотреть, сколько стоят билеты и жильё, оформить заграничный паспорт и визу, если необходимо. Даже, если вы понятия не имеете, как это делается. Даже, если вчера и не помышляли о таком. Неужели вам не любопытно узнать, как там, в Финляндии, например? Как это, сесть на маршрутку и через пару часов пересечь границу и оказаться в другой стране, услышать непонятную речь? Как это, ходить на пароме? Что такое "шведский стол"? А что в Таллинне? Какой вид открывается с городской башни? А Стокгольм? Метро, высеченное прямо в скале, неужели это  возможно? А если в Шри-Ланку? А на Тенерифе? А на Кипр?</p>
                    <p style="text-align: justify;">Можно попробовать с самого простого, постепенно ставить себе чуть более сложные задачи, наслаждаясь своими маленькими подвигами и успехами. Завтра вы точно сможете больше и станете гордиться собой и продолжать расти. Продолжать будет не трудно - всё получится!</p>
                    <p style="text-align: justify;">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>        
               
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-outline-light" target="_blank" href="Ссылка на почту"><i class="icon-mail-alt"></i></a>
                    <p> Наша почта:</p>
                </div>
            </div>
        </div>
    </footer>
   

    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>