{% extends 'core/base.html' %}
{% load static %}

{% block navigation %}
  {% if request.user.is_authenticated or %}
    <li class="nav-item">
      <h3 class="text-white">{{ user.login }}</h3>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'logout' %}">Выход</a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link text-white" aria-current="page" href="{% url 'signin' %}">Регистрация</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" aria-current="page" href="{% url 'log_in' %}">Вход</a>
    </li>
  {% endif %}

{% endblock %}

{% block content %}

{% endblock %}
